<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>S-DES Criptografia</title>
    <script>
        async function enviarDados() {
            const chave_principal = document.getElementById("chave_principal").value;
            const bloco_dados = document.getElementById("bloco_dados").value;

            const resposta = await fetch("/processar", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ chave_principal, bloco_dados })
            });
            const dados = await resposta.json();
            document.getElementById("resultado").innerHTML =
                `Bloco Final: ${dados.bloco_final}`;
        }
    </script>

</head>
<body style="background-color: #D9D9D9; font-family: Poppins;">
    <div style="background-color: white; margin: 200px; height: 80%; width: 80%; padding: 10px; border-radius: 5px;">
        <h1>S-DES Criptografia</h1>
        <div>
            <h2>Chave de 10 bits:</h2>
            <input type="text" id="chave_principal" placeholder="Ex: 1010000010"><br>         
        </div>
        <div>
            <h2>Bloco de 8 bits:</h2>
            <input type="text" id="bloco_dados" placeholder="Ex: 11010111"><br>    
        </div>
        <button onclick="enviarDados()">Processar</button>
        <line></line>
        <div id="resultado"></div>
    </div>
</body>
</html>
