<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>S-DES Criptografia</title>
    <script>
        async function enviarDados() {
            const chave_principal = document.getElementById("chave_principal").value;
            const bloco_dados = document.getElementById("bloco_dados").value;

            const resposta = await fetch("/processar", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ chave_principal, bloco_dados })
            });
            const dados = await resposta.json();
            document.getElementById("resultado").innerHTML =
                `Bloco Fianl: ${dados.bloco_final}`;
        }
    </script>
</head>
<body>
    <h1>S-DES Criptografia</h1>
    <label>Chave de 10 bits:</label>
    <input type="text" id="chave_principal" placeholder="Ex: 1010000010"><br>
    <label>Bloco de 8 bits:</label>
    <input type="text" id="bloco_dados" placeholder="Ex: 11010111"><br>
    <button onclick="enviarDados()">Processar</button>
    <div id="resultado"></div>
</body>
</html>
